* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    margin: 0;
    padding: 0;
    background-color: rgb(196, 151, 238);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  .container {
    max-width: 457px;
    background-color: lightpink;
    border-radius: 5px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  h2 {
    font-size: 24px;
    margin-bottom: 15px;
  }
  .CharacterCounter {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    font-size: 20px;
    color: rgb(118, 53, 53);
  }
  textarea {
    resize: none;
    font-size: 24px;
  }
  