*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
}

.left-container{
    width:50%;
    height:99%;
    border-radius: 3px;
    background-color: #d1dce7;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box1{
    display: flex;
    flex-direction: column;
    gap:2rem;
}
#colorPicker{
    margin-left: 10px;
}
#heading-note{
    text-align: center;
}

#addNoteBtn{
    padding: 1rem 2rem;
    width:10rem;
    background-color: coral;
    color:white;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 2rem;
    border: none;
}



.right-container{
    width: 50%;
    height: 100%;
}
.notes-container {
    width: 100%;
  }

  .note {
    color: white;
    width: 80%;
    background-color: green;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    margin-bottom: 10px;
  }
  .close-btn {
    cursor: pointer;}

    .bn632-hover {
        width: 160px;
        font-size: 16px;
        font-weight: 600;
        color: #fff;
        cursor: pointer;
        margin: 20px;
        height: 55px;
        text-align:center;
        border: none;
        background-size: 300% 100%;
        border-radius: 50px;
        
        -o-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
      }
      
      .bn632-hover:hover {
        background-position: 100% 0;
        
        -o-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
      }
      
      .bn632-hover:focus {
        outline: none;
      }
      
      .bn632-hover.bn27 {
        background-image: linear-gradient(
          to right,
          #ed6ea0,
          #ec8c69,
          #f7186a,
          #fbb03b
        );
        box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
      }